# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.) Python

2.) R

3.) Java

4.) SQL

Some of the commonly used libraries used by Data Scientists include:

1.)NumPy

2.)Keras

3.)Pandas

4.)PyTorch

5.)SciPy

6.)Scikit-Learn

Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
|:-------------------|
|    Apache Hadoop   | 
|       Tableau      |
|     TensorFlow     |


Create a markdown cell introducing arithmetic expression examples

1.)+

2.)-

3.)*

4.)/

5.)< >

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(2*5)+4

14

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

OBJECTIVES:
- List popular languages for Data Science
- Arithmetic solving
- List tools used in data science

# # AUTHOR:
Aditi Jaiswal